---
import Button from '../components/Button.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="
    https://cdn.jsdelivr.net/npm/airbnbcereal@1.1.0/stylesheet.min.css
    "
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <!-- banner top -->
    <div
      class="h-[calc(100vh-1rem)] bg-[url('/images/banner-background.webp')] bg-cover bg-center"
    >
      <nav
        class="flex items-center justify-between border px-10 py-2 font-normal"
      >
        <img src="/images/logo.webp" alt="" class="w-20" />
        <nav class="hidden sm:flex">
          <ul class="flex gap-4">
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Servicios</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
        </nav>
        <div>
          <Button text="Reserva" />
        </div>
      </nav>
      <div class="items-center gap-4 border px-10 py-10">
        <div class="flex-col space-y-4">
          <h2 class="text-center text-3xl font-extrabold">
            <span class="text-[#626cec]">Viajes y emociones</span>
            <span class="text-[#091ca9]"
              >que dejarán huella en tu vida. <br /> ¡Es un placer servirte!
            </span>
          </h2>
          <p class="text-center font-light text-[#515151]">
            Nuestra pasión es brindarle experiencias inolvidables. Con más de ?
            años en el mercado, hemos hecho de cada viaje un recuerdo único.
          </p>
        </div>
        <img
          src="/images/banner.webp"
          alt=""
          srcset=""
          class="mx-auto w-10/12"
        />
      </div>
      <!--  -->
      <!-- <div class="bg-white p-4 flex-col gap-4 rounded-3xl mx-2">
        <div class="w-full bg-black h-[calc(100vw-1rem)]"></div>
         <div
          class="w-60 h-60 bg-[url('/images/banner-1.webp')] rounded-xl relative flex justify-center bg-cover items-end"
        >
          <h3 class="mb-10 font-medium text-white">Viajes internacionales</h3>
        </div>
        <div
          class="w-60 h-60 bg-[url('/images/banner-2.webp')] rounded-xl relative flex justify-center bg-cover items-end"
        >
          <h3 class="mb-10 font-medium text-white">Viajes internacionales</h3>
          <div class="absolute -bottom-2">
            <Button text="Reserva" />
          </div>
        </div>
        <div
          class="w-60 h-60 bg-[url('/images/banner-3.webp')] rounded-xl relative flex justify-center bg-cover items-end"
        >
          <h3 class="mb-10 font-medium text-white">Viajes internacionales</h3>
        </div>
      </div> -->
    </div>
    <!-- banner about -->
    <div
      class="gap-4 bg-[url('/images/background-about.webp')] bg-center px-10 py-20"
    >
      <div class="flex-col space-y-4">
        <h2 class="text-center text-3xl font-extrabold text-white">
          Quienes somos
        </h2>
        <p class="text-center text-lg font-light text-white">
          En Vacaciones magicas, nuestra pasión es brindarle experiencias
          inolvidables. Con más de [X] años en el mercado, hemos hecho de cada
          viaje un recuerdo único, cuidando cada detalle para que su única
          preocupación sea disfrutar. Desde viajes familiares hasta bodas
          destino, estamos comprometidos con su satisfacción.
        </p>
        <p class="text-center font-medium text-white">
          ¡Un placer servirle en cada paso del camino!
        </p>
      </div>
      <img src="/images/bags.webp" alt="" srcset="" class="mx-auto w-10/12" />
    </div>
    <!-- banner mexico -->
    <div class="flex bg-[url('/images/background-mexico.webp')] px-10 py-20">
      <img src="/images/mexico.webp" alt="" srcset="" class="w-1/3" />
      <div class="flex flex-col items-center space-y-4">
        <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
          Tours México
        </h2>
        <p class="text-right font-light text-[var(--color-gray-dark)]">
          <span class="font-medium"
            >Descubra la belleza y riqueza cultural de México</span
          > con nuestros exclusivos tours. Desde las playas paradisiacas del Caribe
          hasta las majestuosas montañas del norte, diseñamos experiencias que lo
          conectarán con la verdadera esencia de nuestro país. Déjese sorprender
          por cada rincón y viva México como nunca antes.
        </p>
        <Button text="Reserva ahora" />
        <p class="font-medium text-[var(--color-primary)]">
          Disfruta de experiencias únicas
        </p>
      </div>
    </div>
    <!-- banner travel international -->
    <div class="bg-white px-10 py-20">
      <div class="space-y-4 text-center">
        <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
          Viajes Internacionales
        </h2>
        <p class="font-light text-[var(--color-gray-dark)]">
          El mundo está lleno de destinos increíbles, y nosotros estamos aquí
          para ayudarle a descubrirlos.
        </p>
        <p class="font-light text-[var(--color-gray-dark)]">
          Viaje con nosotros y haga realidad sus sueños internacionales con una
          atención personalizada que hará de su viaje algo excepcional.
        </p>
        <Button text="Agenda una cita" />
        <p class="font-medium text-[var(--color-primary)]">
          Comienza a planear tu próxima aventura
        </p>
      </div>
      <img src="/images/bag.webp" alt="" srcset="" class="w-1/3" />
    </div>
    <!-- banner weidding -->
    <div
      class="flex items-center bg-[url('/images/background-wedding.webp')] px-10 py-20"
    >
      <img src="/images/boda.webp" alt="" srcset="" class="w-1/2" />
      <div class="space-y-4 text-center">
        <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
          Bodas destiono
        </h2>
        <p>
          Haga de su boda un evento mágico e inolvidable en un destino de
          ensueño.
        </p>
        <p>
          Nos especializamos en coordinar cada detalle para que su gran día sea
          tan especial como lo imaginó. Desde playas tropicales hasta elegantes
          viñedos, tenemos el lugar perfecto para su "Sí, acepto".
        </p>
        <Button text="Reserva Ahora" />
      </div>
    </div>
    <!--  -->
    <div class="space-y-4 bg-lime-200 px-40 py-28 text-center">
      <h2 class="text-3xl font-bold">Grupos y convenciones</h2>
      <p>
        Organizar viajes para grupos grandes y convenciones es nuestra
        especialidad.
      </p>
      <p>
        Ofrecemos soluciones logísticas integrales que se adaptan a las
        necesidades de cada cliente, asegurando que su evento sea un éxito sin
        importar el tamaño. Deje que nosotros nos encarguemos de los detalles
        mientras usted se enfoca en su negocio.
      </p>
      <button class="rounded-3xl bg-white px-4 py-2 text-sm text-purple-500">
        Agenda una cita
      </button>
    </div>
    <!--  -->
    <div class="relative flex justify-center gap-4 px-40 py-28">
      <div
        class="flex-1 space-y-4 rounded-2xl p-4 text-center shadow-sm shadow-purple-200"
      >
        <img src="/images/person.webp" alt="" class="mx-auto w-1/5" />
        <h2 class="text-2xl font-bold">Coordinación de eventos</h2>
        <p class="text-sm">
          Ya sea una boda, una conferencia o una celebración especial, nuestros
          expertos en coordinación de eventos están listos para ayudarle a
          planificar y ejecutar cada detalle con precisión. Nos aseguramos de
          que todo salga perfecto, para que usted pueda relajarse y disfrutar
          del momento.
        </p>
        <Button text="Agenda una cita" />
      </div>
      <div
        class="flex-1 space-y-4 rounded-2xl p-4 text-center shadow-sm shadow-purple-200"
      >
        <img src="/images/passport.webp" alt="" class="mx-auto w-1/6" />
        <h2 class="text-2xl font-bold">Trámites de visa y pasaporte</h2>
        <p class="text-sm">
          Sabemos que los detalles administrativos pueden ser complicados, por
          eso estamos aquí para ayudarle con todos sus trámites de visa y
          pasaporte.
        </p>
        <p class="text-sm">
          Nuestro equipo le guiará a través del proceso, garantizando que su
          documentación esté en orden para que pueda enfocarse en disfrutar de
          su viaje..
        </p>
        <Button text="Agenda una cita" />
      </div>
      <div class="absolute -bottom-4">
        <Button text="Arriba" />
      </div>
    </div>
    <div class="bg-lime-200 p-4">xxx</div>
  </body>
  <!-- s -->
</html>

<style is:global>
  :root {
    --color-primary: #626cec;
    --color-secondary: #091ca9;
    --color-gray: #747676;
    --color-gray-dark: #515151;
    --color-gray-medium: #606060;
  }

  body {
    font-family: 'Airbnb Cereal App', sans-serif;
  }
</style>
