---
import About from '../components/base/About.astro';
import Cards from '../components/base/Cards.astro';
import Footer from '../components/base/Footer.astro';
import Groups from '../components/base/Groups.astro';
import Header from '../components/base/Header.astro';
import Mexico from '../components/base/Mexico.astro';
import Travel from '../components/base/Travel.astro';
import 'aos/dist/aos.css';
import Weidding from '../components/base/Weidding.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="
    https://cdn.jsdelivr.net/npm/airbnbcereal@1.1.0/stylesheet.min.css
    "
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body class="">
    <Header />
    <About />
    <Mexico />
    <Travel />
    <Weidding />
    <Groups />
    <Cards />
    <Footer />
    <script>
      import aos from '../js/aos';

      aos();
    </script>
  </body>

  <style is:global>
    :root {
      --color-primary: #626cec;
      --color-secondary: #091ca9;
      --color-gray: #747676;
      --color-gray-dark: #515151;
      --color-gray-medium: #606060;
    }

    body {
      font-family: 'Airbnb Cereal App', sans-serif;
      overflow-x: hidden;
    }
  </style>
</html>
