<section
  id="about"
  class="flex flex-col items-center gap-4 bg-[url('/images/background-about.webp')] bg-cover bg-center px-10 py-20 sm:flex-row sm:px-60 sm:py-20"
>
  <article
    data-aos="fade-up"
    class="flex flex-col gap-4 text-center sm:text-left"
  >
    <h2 class="text-3xl font-extrabold text-white">Quienes somos</h2>
    <p class="font-light text-white">
      En Vacaciones Magicas, nuestra pasión es brindarle experiencias
      inolvidables. Con más de 22 años en el mercado, hemos hecho de cada viaje
      un recuerdo único, cuidando cada detalle para que su única preocupación
      sea disfrutar. Desde viajes familiares hasta bodas destino, estamos
      comprometidos con su satisfacción.
    </p>
    <p class="font-medium text-white">
      ¡Es un placer servirle en cada momento de su viaje!
    </p>
  </article>
  <img
    data-aos="fade-up"
    src="/images/bags.webp"
    alt=""
    srcset=""
    class="mx-auto w-11/12 sm:w-1/3"
  />
</section>
