---
import Button from '../Button.astro';
---

<section class="relative flex flex-col items-center gap-5 px-5 py-10">
  <article
    data-aos="fade-up"
    class="flex-1 space-y-4 rounded-2xl p-4 text-center shadow-sm shadow-purple-200"
  >
    <img src="/images/person.webp" alt="" class="mx-auto w-1/5" />
    <h2 class="text-2xl font-extrabold text-[var(--color-secondary)]">
      Coordinación de eventos
    </h2>
    <p class="text-sm font-light">
      Ya sea una boda, una conferencia o una celebración especial, nuestros
      expertos en coordinación de eventos están listos para ayudarle a
      planificar y ejecutar cada detalle con precisión. Nos aseguramos de que
      todo salga perfecto, para que usted pueda relajarse y disfrutar del
      momento.
    </p>
    <Button text="Agenda una cita" />
  </article>
  <article
    data-aos="fade-up"
    class="flex-1 space-y-4 rounded-2xl p-4 text-center shadow-sm shadow-purple-200"
  >
    <img src="/images/passport.webp" alt="" class="mx-auto w-1/6" />
    <h2 class="text-2xl font-extrabold text-[var(--color-secondary)]">
      Trámites de visa y pasaporte
    </h2>
    <p class="text-sm font-light">
      Sabemos que los detalles administrativos pueden ser complicados, por eso
      estamos aquí para ayudarle con todos sus trámites de visa y pasaporte.
    </p>
    <p class="text-sm font-light">
      Nuestro equipo le guiará a través del proceso, garantizando que su
      documentación esté en orden para que pueda enfocarse en disfrutar de su
      viaje..
    </p>
    <Button text="Agenda una cita" />
  </article>
  <div class="absolute -bottom-4 z-10">
    <Button text="Arriba" />
  </div>
</section>
