<footer data-aos="fade-up" class="overflow-x-hidden bg-white px-5 py-10">
  <article class="flex flex-col items-center">
    <h2 class="mb-4 text-2xl font-extrabold text-[var(--color-secondary)]">
      Contactanos
    </h2>
    <div class="flex flex-col gap-2">
      <div>
        <div class="flex items-center gap-2">
          <img src="/images/phone.webp" alt="" class="w-4" />
          <h3 class="text-sm text-[var(--color-primary)]">33 3852 0452</h3>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <img src="/images/whatsapp.webp" alt="" class="w-5" />
          <h3 class="text-sm text-[var(--color-primary)]">33 3852 0452</h3>
        </div>
      </div>
    </div>

    <h2 class="mb-4 mt-4 text-2xl font-extrabold text-[var(--color-secondary)]">
      Siguenos
    </h2>
    <div class="flex gap-2">
      <img src="/images/facebook.webp" alt="" class="w-5" />
      <img src="/images/instagram.webp" alt="" class="w-5" />
    </div>
    <p class="pt-4">
      <span class="text-sm text-[var(--color-primary)]">Vacaciones Magicas</span
      > ©2021
    </p>
  </article>
</footer>
