<footer data-aos="fade-up" class="overflow-x-hidden bg-white px-5 py-10">
  <article class="flex flex-col items-center sm:flex-row sm:justify-around">
    <div>
      <h2 class="mb-4 text-2xl font-extrabold text-[var(--color-secondary)]">
        Contactanos
      </h2>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <a href="tel:3338520452">
            <div class="flex items-center gap-2">
              <img src="/images/phone.webp" alt="" class="w-4" />
              <h3 class="text-sm text-[var(--color-primary)]">33 3852 0452</h3>
            </div>
          </a>
          <a href="tel:3336593055">
            <div class="flex items-center gap-2">
              <img src="/images/phone.webp" alt="" class="w-4" />
              <h3 class="text-sm text-[var(--color-primary)]">33 3659 3055</h3>
            </div>
          </a>
        </div>
        <div class="flex flex-col gap-2">
          <a href="https://wa.me/+523330160218" target="_blank">
            <div class="flex items-center gap-2">
              <img src="/images/whatsapp.webp" alt="" class="w-5" />
              <h3 class="text-sm text-[var(--color-primary)]">33 3016 0218</h3>
            </div>
          </a>
          <!--<a href="https://wa.me/message/+523310668951" target="_blank">-->
          <!--  <div class="flex items-center gap-2">-->
          <!--    <img src="/images/whatsapp.webp" alt="" class="w-5" />-->
          <!--    <h3 class="text-sm text-[var(&#45;&#45;color-primary)]">33 1066 8951</h3>-->
          <!--  </div>-->
          <!--</a>-->
        </div>
      </div>
    </div>
    <div>
      <h2
        class="mb-4 mt-4 text-2xl font-extrabold text-[var(--color-secondary)]"
      >
        Siguenos
      </h2>
      <div class="flex gap-2">
        <a href="https://www.facebook.com/vac.magicas" target="_blank">
          <img src="/images/facebook.webp" alt="" class="w-5" />
        </a>
        <a
          href="https://www.facebook.com/EventosEnPlayaVacMagicas?mibextid=ZbWKwL"
          target="_blank"
        >
          <img src="/images/face-pink.webp" alt="" class="w-5" />
        </a>
        <a
          href="https://www.instagram.com/vacaciones__magicas?igsh=MXJxYTlhdTV2Z2Z4Zg=="
          target="_blank"
        >
          <img src="/images/instagram.webp" alt="" class="w-5" />
        </a>
      </div>
      <p class="pt-4">
        <span class="text-sm text-[var(--color-primary)]"
          >Vacaciones Magicas ©2021
        </span>
      </p>
    </div>
  </article>
</footer>
