<section
  class="space-y-4 overflow-x-hidden bg-[url('/images/background-groups.webp')] bg-center px-10 py-20 text-center"
>
  <article data-aos="fade-up">
    <h2 class="text-3xl font-extrabold text-white">Grupos y convenciones</h2>
    <p class="font-light text-white">
      Organizar viajes para grupos grandes y convenciones es nuestra
      especialidad.
    </p>
    <p class="font-light text-white">
      Ofrecemos soluciones logísticas integrales que se adaptan a las
      necesidades de cada cliente, asegurando que su evento sea un éxito sin
      importar el tamaño. Deje que nosotros nos encarguemos de los detalles
      mientras usted se enfoca en su negocio.
    </p>
    <button
      class="rounded-3xl bg-white px-4 py-2 text-sm text-[var(--color-primary)]"
    >
      Agenda una cita
    </button>
  </article>
</section>
