---
import Button from '../Button.astro';
---

<header
  class="h-[calc(100vh-1rem)] bg-[url('/images/banner-background.webp')] bg-cover bg-center"
>
  <nav class="hidden items-center justify-between">
    <img src="/images/logo.webp" alt="" class="w-20" />
    <nav class="">
      <ul class="flex gap-4">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Nosotros</a>
        </li>
        <li>
          <a href="#">Servicios</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
    </nav>
    <div>
      <Button text="Reserva" />
    </div>
  </nav>
  <section
    data-aos="fade-right"
    class="flex flex-col gap-4 bg-red-100 text-center"
  >
    <article>
      <h2 class="text-3xl font-extrabold">
        <span class="text-[var(--color-primary)]">Viajes y emociones</span>
        <span class="text-[var(--color-secondary)]"
          >que dejarán huella en tu vida. <br /> ¡Es un placer servirte!
        </span>
      </h2>
      <p class="font-light text-[var(--color-gray-dark)]">
        Nuestra pasión es brindarle experiencias inolvidables. Con más de ? años
        en el mercado, hemos hecho de cada viaje un recuerdo único.
      </p>
    </article>
    <img
      data-aos="fade-left"
      src="/images/banner.webp"
      alt=""
      srcset=""
      class="mx-auto w-11/12"
    />
  </section>
</header>
