---
import Menu from './Menu';
import Carousel from './Carousel';
---

<header
  class="overflow-hidden bg-[url('/images/banner-background.webp')] bg-cover bg-center pb-10"
>
  <Menu client:load />
  <section
    data-aos="fade-up"
    class="flex flex-col gap-4 px-10 pb-20 pt-10 sm:flex-row sm:items-center sm:px-60 sm:py-20"
  >
    <article
      data-aos="fade-right"
      class="flex flex-col gap-4 text-center sm:text-left"
    >
      <h2 class="text-3xl font-extrabold">
        <span class="text-[var(--color-primary)]">Viajes y emociones</span>
        <span class="text-[var(--color-secondary)]"
          >que dejarán huella en tu vida. <br /> ¡Es un placer servirte!
        </span>
      </h2>
      <p class="font-light text-[var(--color-gray-dark)]">
        Nuestra pasión es brindarle experiencias inolvidables. Con más de 22 años
        en el mercado, hemos hecho de cada viaje un recuerdo único.
      </p>
    </article>
    <img
      data-aos="fade-left"
      src="/images/banner.webp"
      alt=""
      srcset=""
      class="w-11/12 sm:w-1/3"
    />
  </section>

  <section data-aos="fade-up" class="mx-auto w-2/3 sm:w-4/6">
    <Carousel client:load />
  </section>
</header>
