---
import Button from '../Button.astro';
---

<section
  id="mexico"
  class="flex flex-col items-center gap-4 overflow-x-hidden bg-[url('/images/background-mexico.webp')] bg-center px-10 py-20 sm:flex-row sm:px-60 sm:py-20"
>
  <img
    data-aos="fade-right"
    src="/images/mexico.webp"
    alt=""
    srcset=""
    class="w-11/12 sm:w-1/3"
  />
  <article
    data-aos="fade-left"
    class="flex flex-col gap-4 text-center sm:items-end sm:text-right"
  >
    <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
      Tours México
    </h2>
    <p class="font-light text-[var(--color-gray-dark)]">
      <span class="font-medium"
        >Descubra la belleza y riqueza cultural de México</span
      > con nuestros exclusivos tours. Desde las playas paradisiacas del Caribe hasta
      las majestuosas montañas del norte, diseñamos experiencias que lo conectarán
      con la verdadera esencia de nuestro país. Déjese sorprender por cada rincón
      y viva México como nunca antes.
    </p>
    <a
      href="https://www.reservatuviaje.mx/default.aspx?agentID=1325"
      target="_blank"
    >
      <Button text="Reserva ahora" />
    </a>
    <p class="font-medium text-[var(--color-primary)]">
      Disfruta de experiencias únicas
    </p>
  </article>
</section>
