---
import Button from '../Button.astro';
---

<section
  class="flex-col bg-[url('/images/background-mexico.webp')] px-10 py-20"
>
  <img src="/images/mexico.webp" alt="" srcset="" class="w-11/12" />
  <article class="flex flex-col items-center space-y-4">
    <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
      Tours México
    </h2>
    <p class="text-right font-light text-[var(--color-gray-dark)]">
      <span class="font-medium"
        >Descubra la belleza y riqueza cultural de México</span
      > con nuestros exclusivos tours. Desde las playas paradisiacas del Caribe hasta
      las majestuosas montañas del norte, diseñamos experiencias que lo conectarán
      con la verdadera esencia de nuestro país. Déjese sorprender por cada rincón
      y viva México como nunca antes.
    </p>
    <Button text="Reserva ahora" />
    <p class="font-medium text-[var(--color-primary)]">
      Disfruta de experiencias únicas
    </p>
  </article>
</section>
