---
import Button from '../Button.astro';
---

<section class="overflow-x-hidden bg-white px-10 py-20">
  <article data-aos="fade-right" class="space-y-4 text-center">
    <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
      Viajes Internacionales
    </h2>
    <p class="font-light text-[var(--color-gray-dark)]">
      El mundo está lleno de destinos increíbles, y nosotros estamos aquí para
      ayudarle a descubrirlos.
    </p>
    <p class="font-light text-[var(--color-gray-dark)]">
      Viaje con nosotros y haga realidad sus sueños internacionales con una
      atención personalizada que hará de su viaje algo excepcional.
    </p>
    <Button text="Agenda una cita" />
    <p class="font-medium text-[var(--color-primary)]">
      Comienza a planear tu próxima aventura
    </p>
  </article>
  <img
    data-aos="fade-left"
    src="/images/international.webp"
    alt=""
    srcset=""
    class="w-11/12"
  />
</section>
