---
import Button from '../Button.astro';
---

<section
  id="international"
  class="flex flex-col items-center gap-4 overflow-x-hidden bg-white px-10 py-20 sm:flex-row sm:px-60 sm:py-20"
>
  <article
    data-aos="fade-right"
    class="flex flex-col gap-4 text-center sm:items-start sm:text-left"
  >
    <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
      Viajes Internacionales
    </h2>
    <p class="font-light text-[var(--color-gray-dark)]">
      El mundo está lleno de destinos increíbles, y nosotros estamos aquí para
      ayudarle a descubrirlos.
    </p>
    <p class="font-light text-[var(--color-gray-dark)]">
      Viaje con nosotros y haga realidad sus sueños internacionales con una
      atención personalizada que hará de su viaje algo excepcional.
    </p>
    <a href="https://wa.me/message/ZMCUE5SHOGUOC1" target="_blank">
      <Button text="Agenda una cita" />
    </a>
    <p class="font-medium text-[var(--color-primary)]">
      Comienza a planear tu próxima aventura
    </p>
  </article>
  <img
    data-aos="fade-left"
    src="/images/international.webp"
    alt=""
    srcset=""
    class="w-11/12 sm:w-1/3"
  />
</section>
