---
import Button from '../Button.astro';
---

<section
  class="flex flex-col items-center gap-4 overflow-x-hidden bg-[url('/images/background-wedding.webp')] bg-center px-10 py-20 sm:flex-row sm:px-60 sm:py-20"
>
  <img
    data-aos="fade-right"
    src="/images/weidding.webp"
    alt=""
    srcset=""
    class="w-11/12 sm:w-1/3"
  />
  <article
    data-aos="fade-left"
    class="flex flex-col items-center gap-4 text-center sm:items-start sm:text-right"
  >
    <h2 class="text-3xl font-extrabold text-[var(--color-secondary)]">
      Bodas destiono
    </h2>
    <p class="font-medium text-[var(--color-gray-dark)]">
      Haga de su boda un evento mágico e inolvidable en un destino de ensueño.
    </p>
    <p class="font-light text-[var(--color-gray-dark)]">
      Nos especializamos en coordinar cada detalle para que su gran día sea tan
      especial como lo imaginó. Desde playas tropicales hasta elegantes viñedos,
      tenemos el lugar perfecto para su "Sí, acepto".
    </p>
    <Button text="Reserva Ahora" />
  </article>
</section>
